@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

:root {
    --primaryColor: #d3dbff;
    --mainWhite: #FFFFFF;
    --mainBlack: #222222;
    --mainGrey: #ECECEC;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: 'Exo 2', sans-serif;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230EF'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230FF'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='.8'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
/* ------------- Navbar ------------- */
.navbar {
    background: var(--mainWhite);
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #faf0af;
    z-index: 1;
}
.navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.nav-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav-icon {
    font-size: 1.5rem;
}
.cart-btn {
    position: relative;
    cursor: pointer;
}
.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
}
/* -------------------- End of Navbar -------------------- */
/* -------------------- Hero -------------------- */
.hero {
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner {
    text-align: center;
    background: #e8505b;
    display: inline-block;
    padding: 2rem;
}
.banner-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    font-size: 2.4rem;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
    color: var(--mainWhite);
}
.banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: #14b1ab;
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
}
.banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}
/* -------------------- end of Hero -------------------- */
/* -------------------- menu -------------------- */
.menu {
    padding: 4rem 0;
}
.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
.menu-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.menu-center img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.img-container {
    position: relative;
    overflow: hidden;
    object-fit: scale-down;
    width: 320px;
    height: 256px;
}
.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
}
.bag-btn:hover {
    color: var(--mainWhite);
}
.fa-shopping-cart {
    margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
    transform: translateX(0);
}
.menu-item-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
}
.img-container:hover .menu-item-img {
    opacity: 0.5;
}
.menu-item h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}
.menu-item h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: #dd2c00;
    text-align: center;
}
/* -------------------- end of menu -------------------- */
/* -------------------- cart -------------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: var(--mainTransition);
    background: #b2ebf2;
    z-index: 2;
    visibility: hidden;
}
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: var(--mainWhite);
    z-index: 3;
    padding: 1.5rem;
    transition: var(--mainTransition);
    /* transform: translateX(100%); */
}
.showCart {
    transform: translateX(0);
}
.transparentBcg {
    visibility: visible;
}
@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}
.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}
.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: (var(--mainSpacing));
    margin-bottom: 2rem;
}
/* -------------------- cart item -------------------- */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}
.cart-item img {
    width: 75px;
    height: 75px;
}
.cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
}
.item-amount {
    text-align: center;
}
.remove-item {
    color: grey;
    cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
}
/* -------------------- end of cart item -------------------- */

.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}
.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 2rem;
}
/* -------------------- end of cart -------------------- */