@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

:root {
    --primaryColor: #d3dbff;
    --mainWhite: #FFFFFF;
    --mainBlack: #222222;
    --mainGrey: #ECECEC;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: 'Exo 2', sans-serif;
}
/* ------------- Navbar ------------- */
.navbar {
    background: var(--mainWhite);
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #dddddd;
    z-index: 1;
}
.navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.nav-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav-icon {
    font-size: 1.5rem;
}
.cart-btn {
    position: relative;
    cursor: pointer;
}
.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
}
/* -------------------- End of Navbar -------------------- */
/* -------------------- Hero -------------------- */
.hero {
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner {
    text-align: center;
    background: var(--mainBlack);
    display: inline-block;
    padding: 2rem;
}
.banner-title {
    font-size: 2.4rem;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
    color: var(--mainWhite);
}
.banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
}
.banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}
/* End of hero */