@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

:root {
    --primaryColor: #3185FC;
    --mainWhite: #FFFFFF;
    --mainBlack: #222222;
    --mainGrey: #ECECEC;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: 'Exo 2', sans-serif;
}
/* ------------- Navbar ------------- */
.navbar {
    background: var(--mainWhite);
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 1;
}
.navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}